<h1>Bienvenido a Holding</h1>

<p>Bienvenido al gestor de codigos de barras para los productos y bienes de la empresa</p>

<% unless user_signed_in? %>
	<p>Autentiquese para comenzar</p>
<% end %>



